/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Ajusta el ancho máximo según tus preferencias */
    margin: auto; /* Centra el contenedor */
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    width: 70%;
  }
  
  button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 30%;
  }
  
  #movieInfo {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  #movieInfo img {
    width: 40%;
    border-radius: 8px;
    object-fit: cover; /* Ajusta el objeto de la imagen para mantener las proporciones */
  }
  
  #movieDetails {
    width: 55%;
    padding: 10px; /* Añade relleno para que el texto no esté pegado al borde */
    box-sizing: border-box; /* Incluye el relleno en el ancho total */
  }
  
  #movieDetails h2 {
    margin-bottom: 10px;
  }
  
  #movieDetails p {
    text-align: justify; /* Texto justificado */
    max-height: 200px; /* Ajusta la altura máxima para controlar el desbordamiento */
    overflow: hidden;
    margin-bottom: 10px;
    border: 2px solid #000; /* Añade un borde negro al área de reseña */
    border-radius: 8px; /* Añade esquinas redondeadas */
  }
  